#title {
    text-align: center;
    background-color: #b2b09b;
    color:#ef3054;    
}

button {
    
    text-align: center;
}

.buttons {
    text-align: center;
}

button :hover {
    background-color: burlywood;
    color: black;
}

.title-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


.hyperlink {
    width: 200px;
    height: 200px;
    padding: 20px;
}

ul.recipe-list {
    text-align: center;
    list-style-type: none;
}

.recipe-list ul {
    text-align: center;
    list-style-type: none;

}


.description {
    text-align: center;
    background-color: #b2b09b;
}

.food {
    display: inline;
}
